.logout__icon--navbar--li {
    padding-top: 8px;
}

/*Override Bootstrap*/
.btn-outline-warning {
    color: #dcb14a;
    border-color: #dcb14a;
}

.btn-outline-warning:hover {
    background-color: #dcb14a;
    border-color: #dcb14a;
}

.btn-outline-warning:focus {
    background: #dcb14a;
}

@media only screen and (max-width: 775px) {
    .cart__list--hide-sm {
        display: none !important
    }
}