@model StoreFront.UI.MVC.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<hr />

<div class="container">
    <h2>@ViewBag.Title</h2>

    <p class="lead my-4">User Regristration has been disabled on this demo site. If you would like guest credientials to view please contact me at: <a href="mailto:Ryan.Pflugradt@Outlook.com">Ryan.Pflugradt@Outlook.com</a></p>

</div>