<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://storefront.ryanpflugradt.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://storefront.ryanpflugradt.com:8172/MsDeploy.axd?site=e2005rpflugradt-001-subsite1</MSDeployServiceURL>
    <DeployIisAppPath>e2005rpflugradt-001-subsite1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>e2005rpflugradt-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=sql5080.site4now.net;Initial Catalog=DB_A64969_StoreFront;Persist Security Info=True;User ID=DB_A64969_StoreFront_admin;Password=Bose2035*!;TrustServerCertificate=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="StoreFront.UI.MVC.Models.ApplicationDbContext, StoreFront.UI.MVC" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="StoreFrontEntities" Order="2" Enabled="False">
          <Destination Path="Data Source=sql5080.site4now.net;Initial Catalog=DB_A64969_StoreFront;User ID=DB_A64969_StoreFront_admin;Password=Bose2035*!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SF.DATA.EF.StoreFrontEntities, SF.DATA.EF" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="StoreFrontEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/StoreFrontEntityModel.csdl|res://*/StoreFrontEntityModel.ssdl|res://*/StoreFrontEntityModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=sql5080.site4now.net;Initial Catalog=DB_A64969_StoreFront;User ID=DB_A64969_StoreFront_admin;Password=Bose2035*!"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=sql5080.site4now.net;Initial Catalog=DB_A64969_StoreFront;Persist Security Info=True;User ID=DB_A64969_StoreFront_admin;Password=Bose2035*!;TrustServerCertificate=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>